div h2 {
    font-style: italic;
}

p{
    color: red;
}

ul.list>li{
    list-style-type: none;
    border-bottom: 5px solid grey;
}



li a:link{
    color: green;
}

li a:visited{
    color: red;
}

li a:hover{
    color: pink;
}

ul > li > ::first-letter{
    font-size: 120%;
    font-weight: bold
}

a[title="BCIT homepage"]{
    background-color: yellow;
}

.float{
    float: left;
}

.below{
    clear :left;
}



.target{
    width:50px;
    height:50px;
    background-color: forestgreen;
    position: absolute;
    top: 0px;
    right: 0px;
    }

.container
    {
    border: 2px gray solid;
    position: relative;
    }
    